@model DhruvEnterprises.Dto.ResetPasswordDto
    @using DhruvEnterprises.Web.Code.LIBS
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Recover Password -@SiteKey.CompanyShortName</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    @*@Styles.Render("~/Admin/Content/css")*@
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/AdminLTE.min.css" rel="stylesheet" />
    <link href="~/Content/plugins/iCheck/square/blue.css" rel="stylesheet" />
</head>
<body class="login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="@Url.Action("index","account")"><b>Admin</b></a>
        </div><!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Password Recovery</p>
            @using (Html.BeginForm("recoverpassword", "account", FormMethod.Post, new { @id = "frm-login" }))
            {
                <div> @Html.Partial("_Notification")</div>
                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.Password, true, null, new { @class = "form-control", @placeholder = "Password" })

                    @*@Html.ValidationMessageFor(a => a.Email)*@
                </div>

                <div class="form-group has-feedback">
                    @Html.TextBoxFor(model => model.ConfirmPassword, true, null, new { @class = "form-control", @placeholder = "Confirm Password" })

                    @*@Html.ValidationMessageFor(a => a.Email)*@
                </div>

                <div class="row">
                    <div class="col-xs-4">

                    </div>
                    <div class="col-xs-4">
                        <a class="btn btn-block btn-default" href="@Url.Action("index")"><i class="fa fa-arrow-circle-left"></i> Cancel</a>
                    </div>
                    <div class="col-xs-4">
                        <button type="submit" class="btn btn-primary btn-block btn-flat">Submit</button>
                    </div><!-- /.col -->
                </div>
            }



        </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    <!-- jQuery 2.1.4 -->
    @Scripts.Render("~/bundles/jquery",
                    "~/bundles/bootstrap",
                    "~/Scripts/common/AdminApp.min.js",
                    "~/bundles/jqueryval",
                    "~/Scripts/global.js")

    <script>
        $(function () {
            var formAddEditLocation = new Global.FormHelper($("#frm-login"), { updateTargetId: "validation-summary", validateSettings: { ignore: '' } });


        });
    </script>
</body>
</html>

