@model DhruvEnterprises.Dto.ResetPasswordDto
    @using DhruvEnterprises.Web.Code.LIBS
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Setup Password -@SiteKey.CompanyShortName</title>
    @Styles.Render("~/Content/css/bootstrap.min.css",
    "~/Content/css/font-awesome.min.css",
    "~/Content/css/AdminLTE.css",
    "~/Content/css/site.css"
    )


</head>

<body class="bg-black">
    <div class="form-box" id="login-box">
        <div style="text-align:center; padding-bottom:6px;">
            <img src="~/nouser.png" />
            <div class="clear"></div>
            @*<span>Golf Travel Center</span>*@
        </div>
        <div class="header">Reset your password ?</div>
        @if (Model != null && Model.Email != null)
        {

            <form action="@Url.Action("SetupPassword", "Login")" method="post">
                @Html.HiddenFor(model => model.UserId)
                @Html.HiddenFor(model => model.Email)
                <div class="body bg-gray">
                    <div class="form-group">
                        @Html.PasswordFor(model => model.NewPassword, true, new { @class = "form-control", @placeholder = "New Password" })
                    </div>
                    <div class="form-group">
                        @Html.PasswordFor(model => model.ConfirmPassword, true, new { @class = "form-control", @placeholder = "Confirm Password" })
                    </div>
                </div>
                <div class="footer">
                    <button type="submit" class="btn bg-olive btn-block">Reset Password</button>
                    <p class="errormsg">@ViewBag.Invalid</p>

                </div>
            </form>
        }
        else
        {
            <div class="body bg-gray">
                <div class="form-group">
                    <div class="message-title">
                        Your password has been changed successully. Please <a href='@ViewBag.Link'><u>click here</u></a> to login.
                    </div>
                </div>
            </div>
            <div class="footer"></div>
        }

    </div>
    @Scripts.Render("~/bundles/jquery", "~/bundles/jqueryval", "~/Scripts/css/bootstrap.min.js")
    @Scripts.Render("~/bundles/globaljs")


</body>


</html>
