

@model IEnumerable<DhruvEnterprises.Dto.ProfitAllDto>

@{
    ViewBag.Title = "Profit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/datatables/css", "~/Scripts/plugins/alertifyjs/css/alertify.min.css", "~/bundles/css/select2", "~/Content/jquery-ui.css", "~/Content/css/bootstrap-datepicker.css")

<section class="content-header">
    <h1>
        Profit- All
    </h1>
</section>

<style>

    #btnClose:hover {
        cursor: pointer;
    }
</style>

<section class="content">


    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header" id="btnClose">
                    <h3 class="box-title">Search Panel</h3>

                    @{
                        var sdate = ViewBag.StartDate != null ? Convert.ToString(ViewBag.StartDate) : "";
                        var edate = ViewBag.EndDate != null ? Convert.ToString(ViewBag.EndDate) : "";
                        
                    }


                </div>
                <div class="box-body" id="dvSearchPanel">
                    <div class="row">

                        <div class="form-group col-md-3">
                            <label class="control-label">From-Date</label>
                            <input type="text" id="txtFromDate" value="@sdate" class="form-control" autocomplete="off" />
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label">To-Date</label>
                            <input type="text" id="txtToDate" class="form-control" value="@edate" autocomplete="off" />
                        </div>

                        <div class="form-group col-md-1">
                            <br />
                            <input type="button" value="Search" id="btnSearch" class="btn btn-success" />

                        </div>

                        <div class="form-group col-md-1">
                            <br />
                            <input type="button" value="Export" id="btnExport" class="btn btn-default" />

                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-md-12"> <b>Total Profit: </b>@(Model?.FirstOrDefault()?.ProfitTotal)</div>
            <div class="col-md-12 table table-responsive divclass">
                <table class="table table-hover table-responsive table-bordered">


                    <tr>
                        <th>   </th>
                        <th> RC_Amt </th>
                        <th> DB_Amt  </th>
                        <th> CM_Amt  </th>
                        <th> Ins_Amt   </th>
                        <th> RO_Amt  </th>
                    </tr>

                    @foreach (var item in Model)
                    {


                        <tr>
                            <td> @item.TypeName </td>
                            <td> @item.RC_Amt    </td>
                            <td> @item.DB_Amt   </td>
                            <td> @item.CM_Amt   </td>
                            <td> @item.Ins_Amt  </td>
                            <td> @item.RO_Amt   </td>
                        </tr>
                    }

                </table>
            </div>
        </div>

</section>


@section scripts{
    @Scripts.Render("~/bundles/datatables", "~/bundles/jqueryval", "~/bundles/select2")
    @Scripts.Render("~/Scripts/plugins/alertifyjs/alertify.min.js", "~/Scripts/jquery-ui.js", "~/bundles/datepicker")
    @Scripts.Render("~/Scripts/Custom/Profit/index.js")
}