@model List<DhruvEnterprises.Data.Menu>
@using DhruvEnterprises.Web.Code.LIBS
@*<div style="width:80px;">
        <a href="@Url.Action("Index")" class="logo">

            <span style="color:navajowhite"><b style="color:white">MY</b>Recharge</span>
        </a>
    </div>*@


<div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav Decnavbar sidenavbar">
        @foreach (var item in Model.FindAll(m => m.ParentId == null && m.IsActive == true))
        {
            var childs = Model.Where(c => c.ParentId == item.Id && c.IsActive == true);
            if (childs.Count() > 0)
            {
                <li class="dropdown" id="@item.Id">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="@item.IconClass"></i>
                        <span>@item.Name</span>
                      
                        @if (item.MenuId == "Reports")
                        {
                            <span class="badge">@ViewBag.cmpCount</span>
                            <span class="badge" style="color:darkblue">@ViewBag.prcCount</span>
                        }
                        else if (item.MenuId == "DayBook")
                        {
                            <span class="badge">@ViewBag.wrCount</span>
                        }
                       
                        @*<span class="caret"></span>*@
                    </a>
                    <ul class="dropdown-menu">
                        @foreach (var child in childs)
                        {
                        <li id="@child.MenuId">
                            <a href="@(SiteKey.DomainName + child.Url)">
                                <i class="@child.IconClass"></i>@child.Name
                                @if (child.MenuId == "WalletRequest")
                                {
                                    <span class="badge">@ViewBag.wrCount</span>

                                }
                                else if (child.MenuId == "Complaint")
                                {
                                    <span class="badge">@ViewBag.cmpCount</span>

                                }
                                else if (child.MenuId == "ProcessingRecharge")
                                {
                                    <span class="badge"  style="color:darkblue">@ViewBag.prcCount</span>

                                }
                            </a>
                        </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                if (item.Url != null)
                {
                    <li class="" id="@item.Id">
                        <a href="@(SiteKey.DomainName + item.Url)">
                            <i class="@item.IconClass"></i><span>@item.Name</span>
                        </a>
                    </li>
                }
            }

        }


    </ul>

    <ul class="nav navbar-nav navbar-right">
        @if(CurrentUser.UserID != 1)
        {
        <li>
            <div class="user-panel">
                <div class="pull-left image">
                    @*<i style="color:green;font-size:smaller">WalletBal | CreditBal <br /></i>*@ 
                    <span class="btn" onclick="return balancecheck();">
                        <span class="badge" style="background-color:white;"  title="Wallet Balance">
                            <i style="position:relative;top:-18px;font-size:smaller;color:white;padding-left:-5px;">Wallet</i>
                            <i style="padding:5px;color:#ea116a;margin-left:-40px;" id="walletbal">₹ @(Math.Round(ViewBag.WalletBal, 2))</i>
                        </span>
                        &nbsp;&nbsp;
                        <span class="badge"  title="Credit Balance">
                            <i style="position:relative;top:-18px;font-size:smaller; color:white;;color:yellow;padding-left:-5px;">Credits</i>
                            <i id="creditbal" style="padding:5px;margin-left:-45px;">₹ @(Math.Round(ViewBag.CreditBal, 2))</i>&nbsp;
                        </span>

                        <i style="color:white;" class="fa fa-refresh" title="Refresh Balance"></i>
                    </span>
                </div>
            </div>
        </li>
        }
        <li class="dropdown" id="@(CurrentUser.Username)">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <span style="text-transform: capitalize;"><i style="color:green;">Hello, </i> @(ViewBag.UserFullName != null ? ViewBag.UserFullName : CurrentUser.Username)</span>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>
                    <a href="@Url.Action("UserProfile", "setting")"><i class="glyphicon glyphicon-user"></i>User Profile</a>
                </li>
                <li id="">
                    <a href="@Url.Action("logout", "account")"><i class="glyphicon glyphicon-log-out"></i>Sign Out</a>
                </li>
            </ul>
        </li>
    </ul>
</div>

<script>
    function balancecheck() {
                       $.ajax({
                    url: "/Wallet/GetUserWalletBalance",
                    type: "POST",
                    data: JSON.stringify({ userid: @CurrentUser.UserID }),
                    dataType: "json",
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        $("#walletbal").text('₹ '+data.bal.toFixed(2));
                        $("#creditbal").text('₹ '+data.cbal.toFixed(2));
                    }
                });
            }
</script>