
@using DhruvEnterprises.Core;
@using DhruvEnterprises.Web.Code.LIBS;
@using DhruvEnterprises.Web.Models.Others;


@{
    ViewBag.Title = "User:Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/datatables/css",  "~/Scripts/plugins/alertifyjs/css/alertify.min.css", "~/bundles/css/select2")

<style>
    td {
        text-align: center;
    }
</style>
<section class="content-header">
    <h1>
        @DhruvEnterprises.Resource.RoleRes.PageHeading

    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_Notification")
            <div class="box">
                <div class="box-header">
                    <div class="btn-group">
                        @(Html.Raw(Html.InsertButton(Url.Action("createedit", "role"), "modal-add-edit-adminrole")))

                        @*<a href="#modal-add-edit-adminrole" data-toggle="modal" data-target="#modal-add-edit-adminrole" data-url="@Url.Action("createedit","role")" assigned-id="0" class="btn btn-success">Add new <i class="fa fa-plus"></i></a>*@
                    </div>
                </div>
                <div class="box-body table-responsive">

                    <table id="grid-index" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Role Name</th>
                                <th>Actions</th>

                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>

    @Html.Partial("_Modal", new Modal { ID = "modal-add-edit-adminrole", AreaLabeledId = "modal-add-edit-adminrole-label", Size = Enums.ModalSize.Medium })
    @Html.Partial("_Modal", new Modal { ID = "modal-delete-adminrole", AreaLabeledId = "modal-delete-adminrole-label", Size = Enums.ModalSize.Medium })
</section>



@section scripts{
    @Scripts.Render("~/bundles/datatables", "~/bundles/jqueryval", "~/bundles/datepicker", "~/bundles/select2")
    @Scripts.Render("~/Scripts/plugins/alertifyjs/alertify.min.js")
    @Scripts.Render("~/Scripts/Custom//AdminRole/index.js")

}




