@model DhruvEnterprises.Dto.PackageDto

@{
    ViewBag.Title = "Package:CreateEdit";

    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/datatables/css", "~/Scripts/plugins/alertifyjs/css/alertify.min.css", "~/bundles/css/select2")

@Html.Partial("_Notification")
@Html.HiddenFor(model => model.Id)
<section class="content-header">
    <h1>
        @(Model.Id == 0 ? "Add Package" : "Edit Package")
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div id="validation-summary">

            </div>
            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">

                    <div class="col-md-12">
                        <div class="box box-danger">
                            <div class="box-header">
                                <h3 class="box-title">Package Info</h3>
                            </div>
                            <div class="box-body">
                                <div class="col-md-4 form-group required">
                                    @Html.LabelFor(m => m.PackageName, new { @class = "control-label" })
                                    @Html.TextBoxFor(m => m.PackageName, htmlAttributes: new { @class = "form-control ", @placeholder = "Full Name", id = "PackageName" })<!-- /.input group -->
                                </div>

                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="box box-danger">
                        <div class="box-header">
                            <h3 class="box-title">Package Service</h3>
                        </div>
                        <div class="box-body">
                            <div class="form-group required">
                                <table id="tabid" class="table table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <td>ID</td>
                                            <td>Service Name</td>
                                            @*<td>Circle Pack</td>*@
                                            <td>Service Commission</td>
                                            <td>Commission Type</td>
                                            <td>Amount Type</td>
                                            @*<td>Daily Limit</td>*@
                                            @*<td>Used Limit</td>
                                                <td>IsUserLoss</td>*@

                                        </tr>
                                    </thead>
                                    @foreach (var item in Model.PackageCommList)
                                    {
                                        <tbody>
                                            <tr>
                                                <td>@item.OpId</td>
                                                <td>@item.OperatorName</td>
                                                @*<td>
                                                        @Html.CheckBoxFor(m => item.IsCirclePack)  &nbsp;&nbsp;
                                                        @Html.ActionLink(".", "CirclePack", new { id = @item.PackId, opid = item.OpId }, new { @class = "btn btn-primary fa fa-refresh", @title = "Circle-Package" })

                                                    </td>*@
                                                <td>
                                                    <input class="chk_parent" type="text" id="chk_parent" value="@item.CommAmt">
                                                </td>
                                                <td>
                                                    <select id="CommTypeId" class="form-control">
                                                        <option value="2" @(item.CommTypeId == 2 ? "selected" : "")>Percentage</option>
                                                        <option value="1" @(item.CommTypeId == 1 ? "selected" : "")>Flat</option>
                                                    </select>
                                                </td>
                                                <td>
                                                    <select id="AmtTypeId" class="form-control">
                                                        <option value="5" @(item.AmtTypeId == 5 ? "selected" : "")>Discount</option>
                                                        <option value="4" @(item.AmtTypeId == 4 ? "selected" : "")>Surcharge</option>
                                                    </select>
                                                </td>
                                                @*<td>
                                                        <input type="text" id="txtDailyLimit" value="@item.DailyLimit">
                                                    </td>*@
                                                @*<td>@item.UsedLimit</td>
                                                    <td>
                                                        <input type="checkbox" id="IsuserLoss" value="@item.IsuserLoss">


                                                    </td>*@

                                            </tr>
                                        </tbody>
                                    }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="btn-mar pull-right">
                        <input type="submit" id="btn-submit" value="Submit" class="btn btn-success pull-right" onclick="return PackageSaveAndUpdate()" />
                    </div>
                    <div class="btn-mar pull-right">
                        <a class="btn btn-block btn-default" href="@Url.Action("index")"><i class="fa fa-arrow-circle-left"></i> Cancel</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

@section scripts{
    @Scripts.Render("~/Scripts/Custom/Package/createedit.js", "~/bundles/jqueryval", "~/bundles/select2")
    @Scripts.Render("~/Scripts/plugins/alertifyjs/alertify.min.js")
}


<script>
     function PackageSaveAndUpdate() {
                var ObjList = [];
         var Packageid = @Model.Id;

         var Packagename = $("#PackageName").val();


         $('#tabid > tbody  > tr').each(function (i, row) {
             var $row = $(row)
             //var isCpack = false;

             //if ($row.find("#item_IsCirclePack").is(':checked')) {
             //    isCpack = true;
             //}
           //var isIsuserLoss = false;

           //  if ($row.find("#IsuserLoss").is(':checked')) {
           //      isIsuserLoss = true;
           //  }

             ObjList.push({
                 PackId: Packageid,
                        Id: Packageid,
                        PackageName: Packagename,
                        OpId: $row.find("td:eq(0)").html().trim(), // get current row 1st TD value
                        CommAmt: $row.find("#chk_parent").val(), // get current row 1st TD value
                 CommTypeId: $row.find("#CommTypeId option:selected").val(),
                 AmtTypeId: $row.find("#AmtTypeId option:selected").val(),
                 //IsCirclePack: isCpack,
                 //DailyLimit: $row.find('#txtDailyLimit').val()
                 /*IsUserLoss: isIsuserLoss*/
             });

         });
         $.post(Global.DomainName + '/Package/CreateEdit', {data: ObjList }, function (result) {

             if (!result) {
                           alertify.error('An internal Error occurred.');
                       }
                       else {
                           alertify.success('Status Updated.');
                           Response.redirect("Package");
                       }

         });
            }
</script>