

@using EZYTM.Core;
@using EZYTM.Web.Code.LIBS;
@using EZYTM.Web.Models.Others;

@model DataTableServerSide

@{
    ViewBag.Title = "User Filter Rule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/datatables/css", "~/Scripts/plugins/alertifyjs/css/alertify.min.css", "~/bundles/css/select2", "~/Content/jquery-ui.css", "~/Content/css/bootstrap-datepicker.css")

<section class="content-header">
    <h1>
        User Filter Rule Report
    </h1>
</section>
<style>

    #btnClose:hover {
        cursor: pointer;
    }
</style>
<section class="content">
    @{
        EZYTM.Dto.RechargeFilterDto filter = (EZYTM.Dto.RechargeFilterDto)ViewBag.FilterData;
    }

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header" id="btnClose">
                    <h3 class="box-title">Search Panel</h3>
                    <div class="pull-right" style="color:red">Show/Hide</div>
                </div>
                <div class="box-body" id="dvSearchPanel">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Vendor</label>
                            @Html.DropDownList("ddVendor", (List<SelectListItem>)ViewBag.ApiList, "--All--", new { @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">From-Date</label>
                            <input type="text" id="txtFromDate" value="@filter.SdateNow" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">To-Date</label>
                            <input type="text" id="txtToDate" class="form-control" value="@filter.EdateNow" autocomplete="off" />
                        </div>
                       
                        <div class="form-group col-md-1">
                            <br />
                            <input type="button" value="Search" id="btnSearch" class="btn btn-success" />
                            <input type="hidden" id="Isa" value="@filter.Isa" />
                        </div>

                        <div class="form-group col-md-1">
                            <br />
                            @Html.ActionLink("Reset", "UserFilterRule", new { }, new { @class = "btn btn-primary" })
                        </div>

                       
                    </div>

                </div>

            </div>
        </div>

    </div>


    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_Notification")


            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table id="grid-index" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>RecDate</th>
                                    <th>Vendor</th>
                                    <th>FileName</th>
                                    <th>MissMatch</th>
                                    <th>MatchCount</th>
                                    <th>TotalCount</th>
                                    <th>RcCount</th>
                                    <th>UploadCount</th>
                                    <th>AddedDate</th>
                                    <th>AddedBy</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>

     var isactive = '@filter.Isa';

    function GetBalance(button) {
        debugger;
        var row = $(button).closest("TR");
        var apiid = parseInt($("TD", row).eq(0).html());
       
        if (apiid > 0) {
            $.post(Global.DomainName + 'Export/CompareRcProcessManual', { id: apiid }, function (result) {
                alertify.success('Process Started Successfully!');
            });
        }

    }

</script>
@section scripts{
    @Scripts.Render("~/bundles/datatables", "~/bundles/jqueryval", "~/bundles/select2")
    @Scripts.Render("~/Scripts/plugins/alertifyjs/alertify.min.js", "~/Scripts/jquery-ui.js", "~/bundles/datepicker")
    @Scripts.Render("~/Scripts/Custom/DailyReport/UserFilterRule.js")

}

