

@using DhruvEnterprises.Core;
@using DhruvEnterprises.Web.Code.LIBS;
@using DhruvEnterprises.Web.Models.Others;

@model DataTableServerSide

@{
    ViewBag.Title = "User Filter Rule Report";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/datatables/css", "~/Scripts/plugins/alertifyjs/css/alertify.min.css", "~/bundles/css/select2", "~/Content/jquery-ui.css", "~/Content/css/bootstrap-datepicker.css")

<section class="content-header">
    <h1>
        User Filter Rule Report
    </h1>
</section>
<style>

    #btnClose:hover {
        cursor: pointer;
    }
</style>
<section class="content">
    @{
            DhruvEnterprises.Dto.UserRulesFilterDto filter = (DhruvEnterprises.Dto.UserRulesFilterDto)ViewBag.FilterData;
        }

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-danger">
                <div class="box-header" id="btnClose">
                    <h3 class="box-title">Search Panel</h3>
                    <div class="pull-right" style="color:red">Show/Hide</div>
                </div>
                <div class="box-body" id="dvSearchPanel">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">User</label>
                            @Html.DropDownList("ddUser", (List<SelectListItem>)ViewBag.UserList, "--All--", new { @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Vendor</label>
                            @Html.DropDownList("ddVendor", (List<SelectListItem>)ViewBag.ApiList, "--All--", new { @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">From-Date</label>
                            <input type="text" id="txtFromDate" value="@filter.SdateNow" class="form-control" autocomplete="off" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">To-Date</label>
                            <input type="text" id="txtToDate" class="form-control" value="@filter.EdateNow" autocomplete="off" />
                        </div>

                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label class="control-label">Operator</label>
                            @Html.DropDownList("ddOperator", (List<SelectListItem>)ViewBag.OperatorList, "--All--", new { @class = "form-control select2" })
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Circle</label>
                            @Html.DropDownList("ddCircle", (List<SelectListItem>)ViewBag.CircleList, "--All--", new { @class = "form-control select2 " })
                        </div>

                        <div class="form-group col-md-3">
                            <label class="control-label">Amount</label>
                            <input type="text" id="txtAmount" value="@(filter.Amount)" class="form-control" />
                        </div>


                    </div>

                    <div class="row">
                     
                        <div class="form-group col-md-1">
                            <br />
                            <input type="button" value="Search" id="btnSearch" class="btn btn-success" />
                            <input type="hidden" id="Isa" value="@filter.Isa" />
                        </div>

                        <div class="form-group col-md-1">
                            <br />
                            @Html.ActionLink("Reset", "index", new { }, new { @class = "btn btn-primary" })
                        </div>

                        @*<div class="form-group col-md-1">
                            <br />
                            <input type="button" value="Export" id="btnExport" class="btn btn-default" />

                        </div>*@
                    </div>
                </div>

            </div>
        </div>

    </div>



    <div class="row">
        <div class="col-xs-12">
            @Html.Partial("_Notification")

            <div class="box">
                <div class="box-header">
                </div>
                <div class="box-body">
                    <div class="table table-responsive">
                        <table id="grid-index" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>User</th>
                                    <th>Circle</th>
                                    <th>Operator</th>
                                    <th>Percent</th>
                                    <th>RcAmount</th>
                                    <th>RofferAmt</th>
                                    <th>Vendor</th>
                                    <th>TotalCount</th>
                                    <th>TotalAmount</th>
                                    <th>RofferCount</th>
                                    <th>RofferRcAmount</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<script>
    var isactive = '@filter.Isa';
</script>

@section scripts{
    @Scripts.Render("~/bundles/datatables", "~/bundles/jqueryval", "~/bundles/select2")
    @Scripts.Render("~/Scripts/plugins/alertifyjs/alertify.min.js", "~/Scripts/jquery-ui.js", "~/bundles/datepicker")
    @Scripts.Render("~/Scripts/Custom/DailyReport/UserFilterRuleReport.js")

}

