@using DhruvEnterprises.Web.Code.LIBS
@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@SiteKey.CompanyFullName</h3>

<p> @SiteKey.CompanyShortName is considered amongst top notch Information technology solution and training providing company. @SiteKey.CompanyShortName is a name providing best in class and specialized solutions in the field of website designing/development company, social media optimization and e commerce portal design and development. We here at @SiteKey.CompanyShortName believe in strengthening innovative thoughts just beyond the limitations as true development power lies in unbounded imaginations. We have a highly skilled and qualified staff, and each of them possesses years of experiences and fully specialized in their field.</p>

<h3>About @SiteKey.CompanyShortName</h3>

<p>
@SiteKey.CompanyShortName Software to provide stock/inventry management in easy/secure way and also provide the facility to backup/restore/sync your data online.
</p>
